<?xml version="1.0" encoding="utf-8"?>
<!-- [logging] -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="Spotify_error-log.txt" />
        <!--I want all of the instances of my DLL to write to the same log file,
        but I don't want them to lock the file and keep each other out.
        The solution was to add the following to the appender section of my log4net configuration file-->
       <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="AppendToFile" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>
<!-- [logging] -->